@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

body, body * {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Lato;
	justify-content: center;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

body {
	height: 96vh;
	padding: 1%;
	width: 98%;
}

section {
	padding: 2%;
}

form, .vertical {
	flex-direction: column;
}

form > *, .vertical > * {
	margin-top: 15px;
}

.btn {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.three-positions {
	width: 100%;
}

.three-positions > * {
	align-content: flex-end;
	flex: 0 0 200px;
	margin-left: 15px;
}

.img-max-size {
	max-width: 100%;
}