@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

body, body * {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Lato;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 96vh;
	width: 100vw;
}

nav.menu, nav.menu ul {
	background-color: black;
	flex: 0 0 100%;
}

nav.menu ul li a {
	color: white;
	margin-left: 15px;
	padding: 2px 20px;
	text-decoration: none;
}

nav.menu ul li a:hover {
	background-color: grey;
}

section {
	padding: 2%;
}

form, .vertical {
	flex-direction: column;
}

form > *, .vertical > * {
	margin-top: 30px;
}

.btn {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.three-positions {
	width: 100%;
}

.three-positions > * {
	align-content: flex-end;
	flex: 0 1 500px;
	margin-left: 15px;
}

.img-max-size {
	max-width: 100%;
}

.all-screen {
	max-width: 80%;
}

.right-side {
	max-width: 18%;
}

img {
	max-height: 400px;
	max-width: 400px;
}