@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

body, body * {
	align-items: center;
	align-content: flex-start;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Lato;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(239 239 239);
	min-height: 96vh;
	width: 100vw;
}

nav.menu, nav.menu ul {
	background-color: black;
	flex: 0 0 100%;
	text-transform: uppercase;
}

nav.menu ul li a {
	align-content: center;
	color: white;
	margin-left: 15px;
	min-height:30px;
	padding: 2px 20px;
	text-decoration: none;
}

nav.menu ul li a:hover {
	background-color: grey;
}

section {
	padding: 2%;
	width: 96%;
}

.w-20 {
	flex: 0 0 20%;
}

.w-40 {
	flex: 0 0 40%;
}

.w-50 {
	flex: 0 0 50%;
}

.w-60 {
	flex: 0 0 60%;
}

.w-80 {
	flex: 0 0 80%;
}

.w-100 {
	flex: 0 0 100%;
}

img {
	max-height: 400px;
	max-width: 400px;
}

.img-no-max {
	max-height: none;
	max-width: none;
}

.img-700-max {
	max-height: 700px;
	max-width: 700px;
}

form, .vertical {
	align-content: center;
	flex-direction: column;
}

form > *, .vertical > * {
	width: 100%;
	margin-top: 30px;
}

form > *.w-20, .vertical > *.w-20 {
	width: 19%;
}

form > *.w-40, .vertical > *.w-40 {
	width: 39%;
}

form > *.w-50, .vertical > *.w-50 {
	width: 49%;
}

form > *.w-60, .vertical > *.w-60 {
	width: 59%;
}

form > *.w-80, .vertical > *.w-80 {
	width: 79%;
}

form > *.w-100, .vertical > *.w-100 {
	width: 100%;
}

.no-wrap {
	flex-wrap: no-wrap;
}

.btn {
	background-color: #4CAF50;
	border: none;
	color: white;
	cursor: pointer;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.gallery {
	justify-content: space-around;
}

.gallery > * {
	margin-left: 20px;
	margin-bottom: 20px;
}

.none {
	display: none;
}
